forum/node_modules
forum/public/build
forum/public/fonts
forum/public/storage
forum/public/hot
forum/storage/*.key
forum/vendor
forum/Homestead.json
forum/Homestead.yaml
forum/.env
forum/aliases
forum/after.sh

/node_modules
/public/fonts
/public/storage
/public/hot
/public/mix-manifest.json
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
.env
/aliases
/after.sh
*.log

.idea
.vargrant
