ip: 192.168.10.10
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ~/Sites/forum
        to: /home/vagrant/Code/forum
sites:
    -
        map: laravelio.app
        to: /home/vagrant/Code/forum/public
databases:
    - homestead
name: forum
hostname: forum
